body{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.css-selector {
    background: linear-gradient(270deg, #3b8d99, #6b6b83, #aa4b6b);
    background-size: 600% 600%;

    -webkit-animation: background 10s ease infinite;
    -moz-animation: background 10s ease infinite;
    animation: background 10s ease infinite;
}

@-webkit-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

div{
    
    display: grid;
    width: 500px;
    height: 200px;
    font-size: 100px;
    align-self: center;
    align-items: center;
    align-content: center;
    margin: 0 auto; 
    padding: 50px;
    padding-top: 0;
}

iframe{
    margin: 0 auto;
    display: grid;
}

#good{
    text-align: center;
    margin: 40px 0;
    margin-bottom: 0;
    font-size: 40px;
}

#footer{
    font-size: 10px;
    height: 100%;
    width: 100vw;
    background: #000;
    margin-top: 20px;
}
#footer p{
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.150em;
    font-style: italic;
}

@media only screen and (max-width: 770px){

    body{
        color: white;
        font-family: 'Ubuntu', sans-serif;
    }

    .css-selector {
        background: linear-gradient(270deg, #3b8d99, #6b6b83, #aa4b6b);
        background-size: 600% 600%;
    
        -webkit-animation: background 10s ease infinite;
        -moz-animation: background 10s ease infinite;
        animation: background 10s ease infinite;
    }
    
    @-webkit-keyframes background {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes background {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes background {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    div{
        
        display: grid;
        width: 300px;
        height: 400px;
        font-size: 130px;
        align-self: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        margin-top: 100px; 
    }
    iframe{
        width: 300px;
        height: 150px;
    }
    #good{
        text-align: center;
        margin: 40px 0;
        margin-bottom: 0;
        font-size: 40px;
    }

    #footer{
        height: -20px;
        width: 77%;
        background: #000;
        margin-top: 20px;
    }
    #footer p{
        text-align: center;
        font-size: 17px;
        letter-spacing: 0.150em;
        font-style: italic;
    }
}
